{% extends 'layout.html' %} {% block content %}
<div class="timeline">
  <div class="followerfollowing-container">
    <div class="followings half">
      <h2>팔로잉 목록</h2>
      {% if user.Followings %} {% for following in user.Followings %}
      <div>{{following.nick}}</div>
      {% endfor %} {% endif %}
    </div>
    <div class="followers half">
      <h2>팔로워 목록</h2>
      {% if user.Followers %} {% for follower in user.Followers %}
      <div>{{follower.nick}}</div>
      {% endfor %} {% endif %}
    </div>
  </div>
  <form
    id="profileEditForm"
    class="profileEdit"
    action="/user/editProfile"
    method="POST"
  >
    <h1>프로필 수정하기</h1>
    <div class="input-group">
      <label for="emailProfileEdit">변경할 이메일</label>
      <input
        type="text"
        class="emailProfileEdit"
        placeholder="{{user.email}}"
        name="email"
      />
    </div>
    <div class="input-group">
      <label for="nickProfileEdit">변경할 닉네임</label>
      <input
        type="text"
        class="nickProfileEdit"
        placeholder="{{user.nick}}"
        name="nick"
      />
    </div>
    <div id="editInfoSubmitContainer">
      <input type="submit" id="editInfoSubmit" value="변경하기" class="btn" />
      <input
        type="button"
        id="editPasswordButton"
        value="비밀번호 변경하기"
        class="btn"
      />
    </div>
  </form>
</div>

{% endblock %} {% block script %}
<script>
  document.getElementById("editPasswordButton").addEventListener("click", () => {
    alert("출시예정");
  });
</script>
{% endblock %}
